<footer>
  <section class="footer-parents">
   <div class="container">
    <div class="footer-top">
      <h5 class="payement-title text-bold">Payment Methods Supported</h5>
      <div class="icons">
        <div class="icon-footer paypal">
          <img class="payment-img" src="/assets/Icon-paypal.svg" alt="" />
        </div>
        <div class="icon-footer zien">
          <img  class="payment-img" src="/assets/zein.svg" alt="" />
        </div>
        <div class="icon-footer master">
          <img class="payment-img" src="/assets/Icon-mastercard.svg" alt="" />
        </div>
        <div class="icon-footer visa">
          <img  class="payment-img" src="/assets/Icon-visa.svg" alt="" />
        </div>
        <div class="icon-footer cash">
          <img class="payment-img" src="/assets/cash.svg" alt="" />
        </div>
      </div>
    </div>
   </div>
  </section>
  <section class="footer">
    <div class="container ">

      <div class="footer-center">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="box-info">
            <h5 class="title-info">Information</h5>
            <ul class="list-footer">
              <li><a class="link-footer" href="#">Contact us</a></li>
              <li><a class="link-footer"[routerLink]="['/about']">About us</a></li>
              <li><a class="link-footer"  [routerLink]="['/privacy']">Privacy Police</a></li>

            </ul>
          </div>
          </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <div class="box-info">
                <h5 class="title-info">Menu</h5>
                <ul class="list-footer">
                  <li><a class="link-footer" [routerLink]="['/']">Home</a></li>
                  <li><a class="link-footer" href="#">Cart</a></li>
                  <li><a class="link-footer" href="#">Wishlist</a></li>
                  <li><a class="link-footer" href="#">Profile</a></li>
                </ul>
              </div>  
            </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="box-info">
                  <h5 class="title-info">Search</h5>
                 <div class="search-footer d-flex">
                  <input type="text" class="form-control search-input-footer " placeholder="Search for somethings" aria-label="Username" aria-describedby="basic-addon1">
                  <img src="/assets/search.svg" alt="" class="search-icon search-img" />

                 </div>
                </div>   
              </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <img src="/assets/logofooter.svg" alt="" class="footer-logo" />

                </div>
        </div>
      </div>
      <div class="footer-bottom">
        <hr class="line-footer">
        <p class="copy-right">
         All rights reserved &copy; CoMart 2024
        </p>
      </div>
    </div>
  </section>
</footer>
