.section-about{
  padding: 10% 25px;
  height: 655px;
}
  .about-description{
    margin-top:20px
  }
  .section-about img{
    width: 300px;
    transform: translate(21%, 50%);

  }
.about-content{
  margin-top: 30px;
}
