  <div class="card newarrival-card" >
    <div class="card-top">
      <div class="card-group">
        <div class="offer-section d-flex">
          <div class="offer">
            <img src="/assets/Icon feather-tag.svg" alt="" />
            <span>offer</span>
          </div>

        </div>

        <div class="fav">
          <img src="/assets/Icon feather-heart.svg" alt="" />
        </div>
      </div>
    </div>
    <img
      class="card-img-top"
      src="/assets/image-4.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <!-- <h5 class="card-title">Card title</h5> -->
      <p class="card-text">
        Lorem ipsum dolor sit amet, consetetur sad eirmod tempor
        invidunt ut labore et dolore
      </p>
      <div class="rating">
        <img
          src="/assets/Icon feather-star.svg"
          class="mx-1"
          width="12px"
          alt=""
        />
        <img
          src="/assets/Icon feather-star.svg"
          class="mx-1"
          width="12px"
          alt=""
        />
        <img
          src="/assets/Icon feather-star.svg"
          class="mx-1"
          width="12px"
          alt=""
        />
        <img
          src="/assets/Icon feather-star.svg"
          class="mx-1"
          width="12px"
          alt=""
        />
        <img
          src="/assets/Icon feather-star.svg"
          class="mx-1"
          width="12px"
          alt=""
        />
      </div>
      <div class="type d-flex">
        <div class="price">
          <span class="span-new price-new">$49.95</span>
          <span class="span-old price-old"><s>$60.5</s></span>
        </div>
        <div class="tag-icon">
          <img
            class="arrow-right"
            src="/assets/corner-down-right.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

